body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0;
}

main {
    flex:auto;
}

section {
    max-width: 800px;
    margin: 50px auto;
    padding: 10px;
}

.result{
    color: #f9106e;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 10px;
}

.analysis{
    p {
        font-size: 20px;
        text-align: center;
        font-family: 'Poppins', sans-serif;
    }
}